body, html {
    height:100%;
    overflow:hidden;
    color:white;
    background:#107eb9;
    font-family:'Oswald', sans-serif; /* font-weight: bold=700, normal=400, light=300 */
}
#wrap {
    max-width:2000px;
    width:70%;
    height:100%;
    min-height:600px;
    margin:0 auto;
}
h1 {
    margin-top:3%;
    font-weight:700;
    font-size:4em;
}
#taskInput {
    margin-top:3%;
    width:100%;
    font-size:3em;
    font-family:'Oswald';
    font-weight:300;
    letter-spacing: 0.03em;
    background:#0f6695;
    border:none;
    color:white;
    outline: 0;
    padding:1%;
    transition:all 1s ease;
}
#taskInput:focus {
    outline:0;
    border:none;
}
#taskList {
    height:40%;
    overflow:scroll;
    padding:1%;
    margin-top:3%;
    width:100%;
    font-weight: 300;
    font-size:4em;
    color:white;
    cursor:default;
    padding:1%; 
}
#taskList li {
    padding:1%;
    margin:1% auto;
    opacity:0.5;   
}
#taskList li:hover {
    opacity:1;
    background:#0f6695;
}
#taskList span {
     float:right;   
}
.innerShadow {
    -webkit-box-shadow: inset 25px 25px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
    box-shadow: inset 0px 40px 40px -40px rgba(0, 0, 0, 0.45), inset 0px -40px 40px -40px rgba(0, 0, 0, 0.45);   
}