body, html {
    color:white;
    background:#107eb9;
    font-family: 'Oswald', sans-serif; /* font-weight: bold=700, normal=400, light=300 */
}
#wrap {
    max-width:2000px;
    width:70%;
    margin:0 auto;
}
h1 {
    font-weight:700;
    font-size:4em;   
}
#taskInput {
    margin-top:5%;
    width:50%;
    font-size:3em;
    font-family:'Oswald';
    font-weight:300;
    letter-spacing: 0.03em;
    background:#0f6695;
    border:none;
    color:white;
    outline: 0;
    padding:1%;
}
#taskInput:focus {
    outline:0;
    border:none;
}